@import url("http://fonts.cdnfonts.com/css/cascadia-code");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cascadia Code", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

#root {
  width: 100%;
  height: 100%;
}

.calc-container {
  margin-bottom: 1em;
}

table {
  border-spacing: 0;
  margin: auto;
}

tbody {
  background: rgb(179 178 178);
  box-shadow: 2px 2px 2px 2px rgb(184, 184, 184);
}

tr {
  width: 100%;
}

td {
  padding: 5px;
}

td > input {
  padding: 10px 0 25px 0;
  border: 0;
  background: rgb(163, 163, 163);
  width: 100%;
  text-align: right;
}

.result {
  text-align: right;
  color: #fff;
  padding: 30px 5px 20px 0;
  font-size: 1.3em;
}

.result-container {
  background: rgb(71, 71, 71);
  border-radius: 10px;
}

input::placeholder {
  font-size: 1.5em;
  color: #fff;
}

td > button {
  padding: 25px 40px;
  width: 100%;
  text-align: center;
  border: 0;
  border-radius: 15px;
  box-shadow: 4px 4px 3px 0 #000;
}

.operators {
  background: rgb(255, 136, 1);
}

.operators:hover {
  background: rgb(167, 89, 0);
  color: #fff;
}

.non-operators:hover {
  background: rgb(124, 124, 124);
  color: #fff;
}

.ac {
  color: red;
}

.hrQuotes {
  margin: auto;
  width: 100px;
  margin-bottom: 2em;
  border-color: rgba(40, 0, 199, 0.13);
}

.hrQuotesBottom {
  margin: auto;
  width: 100px;
  margin-top: 2em;
  border-color: rgba(40, 0, 199, 0.13);
}
